@import "compass/css3/border-radius";

// Clock variables
$clock-color: #444;
$hour-pointer-width: 6px;
$minute-pointer-width: 4px;
$second-pointer-width: 2px;
$center-diameter: 10px;

.clock-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .clock {
    width: 400px;
    height: 400px;
    min-width: 150px;
    min-height: 150px;
    position: relative;
    @include border-radius(50%);
    border: 2px solid $clock-color;

    .clock-center {
      position: absolute;
      top: 50%;
      left: 50%;
    }

    .clock-center-dot {
      @extend .clock-center;

      width: $center-diameter;
      height: $center-diameter;
      margin-top: -$center-diameter/2;
      margin-left: -$center-diameter/2;
      @include border-radius(50%);
      background: $clock-color;
    }

    .clock-pointer {
      @extend .clock-center;

      background: $clock-color;
    }

    // Setup pointer based on its witdh
    @mixin calculate-pointer-widths($pointer-width) {
      width: $pointer-width;
      margin-left: -$pointer-width / 2;
      @include border-radius($pointer-width);
      transform-origin: $pointer-width/2 0;
    }

    .clock-hour-pointer {
      @extend .clock-pointer;
      height: 30%;
      @include calculate-pointer-widths($hour-pointer-width);
    }

    .clock-minute-pointer {
      @extend .clock-pointer;
      height: 47%;
      @include calculate-pointer-widths($minute-pointer-width);
    }

    .clock-second-pointer {
      @extend .clock-pointer;
      height: 47%;
      @include calculate-pointer-widths($second-pointer-width);
    }
  }
}
