body, html, .container {
  height: 100%;
  width: 100%;
  margin: 0;
}

.clock-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .clock {
    width: 80%;
    min-width: 200px;
    height: 100px;
    background: red;
  }
}
